.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  padding-bottom: 20px;
  width: 320px;
}
.display {
  display: flex;
  width: 100%;
  height: 100px;
  padding: 40px 0;
  background: #d4d4d4;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.buttons {
  padding: 20px 20px 0 20px;
}
.row {
  width: 280px;
  float: left;
}
input[type="button"] {
  width: 60px;
  height: 60px;
  float: left;
  padding: 0;
  margin: 5px;
  box-sizing: border-box;
  background: #ecedef;
  border: none;
  font-size: 30px;
  line-height: 30px;

  font-weight: 700;
  color: #5e5858;
  cursor: pointer;
}
input[type="text"] {
  width: 270px;
  height: 60px;
  float: left;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background: none;
  color: #ffffff;
  text-align: right;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  margin: 0 25px;
}
.spec {
  background: #d4d4d4 !important;
  color: #ffffff !important;
}
